@charset "UTF-8";

@font-face {
  font-family: "bxdi";
  src:url("fonts/bxdi.eot");
  src:url("fonts/bxdi.eot?#iefix") format("embedded-opentype"),
    url("fonts/bxdi.woff") format("woff"),
    url("fonts/bxdi.ttf") format("truetype"),
    url("fonts/bxdi.svg#bxdi") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "bxdi" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  /*speak: none;*/
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="bxd-"]:before,
[class*=" bxd-"]:before {
  font-family: "bxdi" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  /*speak: none;*/
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*ADDED-20171207*/
.bxd {
  display:inline-block;
  font:normal normal normal 14px/1 "bxdi";
  font-size:inherit;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
.bxd-2x {
  font-size:2em;
}
.bxd-3x {
  font-size:3em;
}
.bxd-4x {
  font-size:4em;
}
.bxd-5x {
  font-size:5em;
}
.bxd-ui {
  padding-left:0;
  margin-left:2em;
  list-style-type:none;
}
.bxd-ul > li {
  position:relative;
}

.bxd-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.bxd-border {
  padding:.2em .25em .25em;
  border:solid 0.08em #eeeeee;
  border-radius:.2em;
}
.bxd-f-left,
.f-left {
  float:left;
}
.bxd-f-right,
.f-right {
  float:right;
}
.bxd.bxd-f-left,
.bxd.f-left {
  margin-right:3em;
}
.bxd.bxd-f-right,
.bxd.f-right {
  margin-left:3em;
}
.bxd-spin {
  -webkit-animation:bxd-spin 2s infinite linear;
  animation:bxd-spin 2s infinite linear;
}
.bxd-pulse {
  -webkit-animation:bxd-spin 1s infinite steps(8);
  animation:bxd-spin 1s infinite steps(8);
}
@-webkit-keyframes bxd-spin {
  0% {
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
  }
  100% {
    -webkit-transform:rotate(359deg);
    transform:rotate(359deg);
  }
}
@keyframes bxd-spin {
  0% {
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
  }
  100% {
    -webkit-transform:rotate(359deg);
    transform:rotate(359deg);
  }
}
.bxd-rotate-90 {
  -ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
.bxd-rotate-180 {
  -ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
.bxd-rotate-270 {
  -ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
.bxd-flip-horizontal {
  -ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform:scale(-1,1);
  -ms-transform:scale(-1,1);
  transform:scale(-1,1);
}
.bxd-flip-vertical {
  -ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform:scale(1,-1);
  -ms-transform:scale(1,-1);
  transform:scale(1,-1);
}
:root .bxd-rotate-90,
:root .bxd-rotate-180,
:root .bxd-rotate-270,
:root .bxd-flip-horizontal,
:root .bxd-flip-vertical {
  filter:none;
}

/*END*/

.bxd-add:before {
  content: "\61";
}
.bxd-add-all:before {
  content: "\62";
}
.bxd-alarm:before {
  content: "\63";
}
.bxd-arrow-down:before {
  content: "\64";
}
.bxd-arrow-left:before {
  content: "\65";
}
.bxd-arrow-right:before {
  content: "\66";
}
.bxd-arrow-up:before {
  content: "\67";
}
.bxd-asterisk:before {
  content: "\68";
}
.bxd-cal:before {
  content: "\69";
}
.bxd-camera:before {
  content: "\6a";
}
.bxd-camera2:before {
  content: "\6b";
}
.bxd-lagging:before {
  content: "\6c";
}
.bxd-check:before {
  content: "\6d";
}
.bxd-close:before {
  content: "\6e";
}
.bxd-square-control:before {
  content: "\6f";
}
.bxd-control:before {
  content: "\70";
}
.bxd-copy:before {
  content: "\71";
}
.bxd-crop:before {
  content: "\72";
}
.bxd-custom:before {
  content: "\73";
}
.bxd-del:before {
  content: "\74";
}
.bxd-delivery:before {
  content: "\75";
}
.bxd-dictionary:before {
  content: "\76";
}
.bxd-download:before {
  content: "\7a";
}
.bxd-download2:before {
  content: "\41";
}
.bxd-edit:before {
  content: "\42";
}
.bxd-edit2:before {
  content: "\43";
}
.bxd-edit3:before {
  content: "\44";
}
.bxd-eraser:before {
  content: "\45";
}
.bxd-exchange:before {
  content: "\46";
}
.bxd-extend:before {
  content: "\47";
}
.bxd-extend2:before {
  content: "\48";
}
.bxd-favorite:before {
  content: "\49";
}
.bxd-favorite-off:before {
  content: "\4a";
}
.bxd-film:before {
  content: "\4b";
}
.bxd-log-task:before {
  content: "\4c";
}
.bxd-log-task-play:before {
  content: "\4d";
}
.bxd-log-error2:before {
  content: "\4e";
}
.bxd-log-service:before {
  content: "\4f";
}
.bxd-log-error:before {
  content: "\50";
}
.bxd-hamburger:before {
  content: "\51";
}
.bxd-home:before {
  content: "\52";
}
.bxd-home2:before {
  content: "\53";
}
.bxd-img:before {
  content: "\54";
}
.bxd-log-img:before {
  content: "\55";
}
.bxd-img-down:before {
  content: "\56";
}
.bxd-img-up:before {
  content: "\57";
}
.bxd-lock:before {
  content: "\58";
}
.bxd-login:before {
  content: "\59";
}
.bxd-logout:before {
  content: "\5a";
}
.bxd-at:before {
  content: "\30";
}
.bxd-user:before {
  content: "\31";
}
.bxd-modify:before {
  content: "\32";
}
.bxd-warning2:before {
  content: "\33";
}
.bxd-my:before {
  content: "\34";
}
.bxd-my-info:before {
  content: "\35";
}
.bxd-off:before {
  content: "\36";
}
.bxd-package:before {
  content: "\37";
}
.bxd-offset:before {
  content: "\39";
}
.bxd-reduce:before {
  content: "\21";
}
.bxd-refresh:before {
  content: "\22";
}
.bxd-reply:before {
  content: "\23";
}
.bxd-reply-all:before {
  content: "\24";
}
.bxd-reset:before {
  content: "\25";
}
.bxd-restore:before {
  content: "\26";
}
.bxd-round-add:before {
  content: "\27";
}
.bxd-round-check:before {
  content: "\28";
}
.bxd-round-close:before {
  content: "\29";
}
.bxd-round-help:before {
  content: "\2a";
}
.bxd-round-info:before {
  content: "\2b";
}
.bxd-round-info2:before {
  content: "\2c";
}
.bxd-ruler:before {
  content: "\2d";
}
.bxd-search:before {
  content: "\2e";
}
.bxd-search2:before {
  content: "\2f";
}
.bxd-setting:before {
  content: "\3a";
}
.bxd-square-add:before {
  content: "\3b";
}
.bxd-square-check:before {
  content: "\3c";
}
.bxd-square-del:before {
  content: "\3d";
}
.bxd-square-down:before {
  content: "\3e";
}
.bxd-square-play:before {
  content: "\3f";
}
.bxd-stopwatch:before {
  content: "\40";
}
.bxd-swipe:before {
  content: "\5b";
}
.bxd-tape:before {
  content: "\5d";
}
.bxd-theme:before {
  content: "\5e";
}
.bxd-theme2:before {
  content: "\5f";
}
.bxd-theme3:before {
  content: "\60";
}
.bxd-todo:before {
  content: "\7b";
}
.bxd-toggle:before {
  content: "\7c";
}
.bxd-menu:before {
  content: "\e013";
}
.bxd-log-media:before {
  content: "\e01a";
}
.bxd-media:before {
  content: "\e01b";
}
.bxd-video:before {
  content: "\e01c";
}
.bxd-upload2:before {
  content: "\e01d";
}
.bxd-upload:before {
  content: "\e01e";
}
.bxd-unlock:before {
  content: "\e01f";
}
.bxd-undo:before {
  content: "\e020";
}
.bxd-trash-all:before {
  content: "\77";
}
.bxd-trash:before {
  content: "\e021";
}
.bxd-view:before {
  content: "\e022";
}
.bxd-view2:before {
  content: "\e023";
}
.bxd-view3:before {
  content: "\e024";
}
.bxd-trophy:before {
  content: "\e025";
}
.bxd-view4:before {
  content: "\e026";
}
.bxd-warning:before {
  content: "\e027";
}
.bxd-wifi-off:before {
  content: "\e029";
}
.bxd-warning3:before {
  content: "\e02a";
}
.bxd-wifi:before {
  content: "\e028";
}
.bxd-zoom-in:before {
  content: "\e02b";
}
.bxd-zoom-out:before {
  content: "\e02c";
}
.bxd-media-down:before {
  content: "\e02d";
}
.bxd-media-up:before {
  content: "\e02e";
}
.bxd-agent-confirm:before {
  content: "\78";
}
.bxd-row-add:before {
  content: "\79";
}
.bxd-column-add:before {
  content: "\38";
}
.bxd-table-add:before {
  content: "\7d";
}
.bxd-app-alert:before {
  content: "\7e";
}
.bxd-landscape:before {
  content: "\5c";
}
.bxd-brace:before {
  content: "\e000";
}
.bxd-brace2:before {
  content: "\e001";
}
.bxd-bug:before {
  content: "\e002";
}
.bxd-simulator:before {
  content: "\e003";
}
.bxd-line-cancel:before {
  content: "\e004";
}
.bxd-agent-del:before {
  content: "\e005";
}
.bxd-cc:before {
  content: "\e006";
}
.bxd-cc-stop:before {
  content: "\e007";
}
.bxd-server3:before {
  content: "\e008";
}
.bxd-server2:before {
  content: "\e009";
}
.bxd-server:before {
  content: "\e00a";
}
.bxd-dashboard:before {
  content: "\e00b";
}
.bxd-css:before {
  content: "\e00c";
}
.bxd-gateway:before {
  content: "\e00d";
}
.bxd-code-set:before {
  content: "\e00e";
}
.bxd-code-start:before {
  content: "\e00f";
}
.bxd-code:before {
  content: "\e010";
}
.bxd-copy-row:before {
  content: "\e011";
}
.bxd-cc-start:before {
  content: "\e012";
}
.bxd-cc-reset:before {
  content: "\e014";
}
.bxd-cc-undo:before {
  content: "\e015";
}
.bxd-js-down:before {
  content: "\e016";
}
.bxd-java-down:before {
  content: "\e017";
}
.bxd-html-down:before {
  content: "\e018";
}
.bxd-layout-receive:before {
  content: "\e019";
}
.bxd-layout-send:before {
  content: "\e02f";
}
.bxd-protocol-receive:before {
  content: "\e030";
}
.bxd-cc-online-undo:before {
  content: "\e031";
}
.bxd-cc-online-stop:before {
  content: "\e032";
}
.bxd-valid-off:before {
  content: "\e033";
}
.bxd-js-up:before {
  content: "\e034";
}
.bxd-valid-on:before {
  content: "\e035";
}
.bxd-java-up:before {
  content: "\e036";
}
.bxd-html-up:before {
  content: "\e037";
}
.bxd-css-up:before {
  content: "\e038";
}
.bxd-connector-false:before {
  content: "\e039";
}
.bxd-connector:before {
  content: "\e03a";
}
.bxd-router3:before {
  content: "\e03b";
}
.bxd-router2:before {
  content: "\e03c";
}
.bxd-table:before {
  content: "\e03d";
}
.bxd-swap:before {
  content: "\e03e";
}
.bxd-protocol-send:before {
  content: "\e03f";
}
.bxd-mobile-alert:before {
  content: "\e041";
}
.bxd-mobile-sector:before {
  content: "\e042";
}
.bxd-portrait-mode:before {
  content: "\e043";
}
.bxd-line:before {
  content: "\e044";
}
.bxd-sector:before {
  content: "\e045";
}
.bxd-sectors:before {
  content: "\e046";
}
.bxd-agent-select:before {
  content: "\e047";
}
.bxd-mobile:before {
  content: "\e049";
}
.bxd-agent:before {
  content: "\e04a";
}
.bxd-leaf:before {
  content: "\e04b";
}
.bxd-sys3-set:before {
  content: "\e04c";
}
.bxd-sys3-code:before {
  content: "\e04d";
}
.bxd-sys3:before {
  content: "\e04e";
}
.bxd-js:before {
  content: "\e04f";
}
.bxd-java:before {
  content: "\e050";
}
.bxd-split-all:before {
  content: "\e051";
}
.bxd-split-vertical:before {
  content: "\e052";
}
.bxd-split-vertical2:before {
  content: "\e053";
}
.bxd-square-extend:before {
  content: "\e054";
}
.bxd-css-down:before {
  content: "\e055";
}
.bxd-overlap-cancel:before {
  content: "\e056";
}
.bxd-overlap:before {
  content: "\e057";
}
.bxd-split-horizontal:before {
  content: "\e058";
}
.bxd-column-set:before {
  content: "\e059";
}
.bxd-split-horizontal2:before {
  content: "\e05a";
}
.bxd-gateway2:before {
  content: "\e05b";
}
.bxd-html:before {
  content: "\e05c";
}
.bxd-square-inherit:before {
  content: "\e05d";
}
.bxd-filter:before {
  content: "\e05e";
}
.bxd-line-error:before {
  content: "\e05f";
}
.bxd-cc-set:before {
  content: "\e060";
}
.bxd-search-log:before {
  content: "\e061";
}
.bxd-saving:before {
  content: "\e062";
}
.bxd-transfer:before {
  content: "\e063";
}
.bxd-calculator:before {
  content: "\e064";
}
.bxd-exchange-us:before {
  content: "\e065";
}
.bxd-exchange-kr:before {
  content: "\e066";
}
.bxd-exchange-jp:before {
  content: "\e067";
}
.bxd-exchange-cn:before {
  content: "\e068";
}
.bxd-cs:before {
  content: "\e069";
}
.bxd-loan-us:before {
  content: "\e06a";
}
.bxd-loan-kr:before {
  content: "\e06b";
}
.bxd-loan-jp:before {
  content: "\e06c";
}
.bxd-loan-cn:before {
  content: "\e06d";
}
.bxd-coin-cn:before {
  content: "\e06e";
}
.bxd-coin-jp:before {
  content: "\e06f";
}
.bxd-coin-kr:before {
  content: "\e070";
}
.bxd-coin-us:before {
  content: "\e071";
}
.bxd-cash-cn:before {
  content: "\e072";
}
.bxd-cash-jp:before {
  content: "\e073";
}
.bxd-cash-us:before {
  content: "\e074";
}
.bxd-credit-card:before {
  content: "\e075";
}
.bxd-search-account-cn:before {
  content: "\e076";
}
.bxd-cash-kr:before {
  content: "\e077";
}
.bxd-search-account-jp:before {
  content: "\e078";
}
.bxd-search-account-kr:before {
  content: "\e079";
}
.bxd-search-account-us:before {
  content: "\e07a";
}
.bxd-xls-up:before {
  content: "\e07b";
}
.bxd-xls-null-down:before {
  content: "\e07c";
}
.bxd-xls-down:before {
  content: "\e07d";
}
.bxd-xls:before {
  content: "\e07e";
}
.bxd-touch:before {
  content: "\e07f";
}
.bxd-template-set:before {
  content: "\e080";
}
.bxd-message2:before {
  content: "\e081";
}
.bxd-message:before {
  content: "\e082";
}
.bxd-file-up3:before {
  content: "\e083";
}
.bxd-file-submit3:before {
  content: "\e084";
}
.bxd-file-edit3:before {
  content: "\e085";
}
.bxd-file-confirm3:before {
  content: "\e086";
}
.bxd-file-return3:before {
  content: "\e087";
}
.bxd-pdf2-down:before {
  content: "\e088";
}
.bxd-ppt:before {
  content: "\e089";
}
.bxd-ppt-down:before {
  content: "\e08a";
}
.bxd-ppt-up:before {
  content: "\e08b";
}
.bxd-printout:before {
  content: "\e08c";
}
.bxd-workflow:before {
  content: "\e08d";
}
.bxd-rocket:before {
  content: "\e08e";
}
.bxd-save:before {
  content: "\e08f";
}
.bxd-distribution:before {
  content: "\e090";
}
.bxd-redistribution:before {
  content: "\e091";
}
.bxd-file-del3:before {
  content: "\e092";
}
.bxd-file-down3:before {
  content: "\e093";
}
.bxd-pdf2:before {
  content: "\e094";
}
.bxd-pdf-up:before {
  content: "\e095";
}
.bxd-pdf-down:before {
  content: "\e096";
}
.bxd-pdf:before {
  content: "\e097";
}
.bxd-passport:before {
  content: "\e098";
}
.bxd-rootfolder-o-add:before {
  content: "\e099";
}
.bxd-folder2-o-edit:before {
  content: "\e09a";
}
.bxd-folder-close:before {
  content: "\e09b";
}
.bxd-folder2-o-edit2:before {
  content: "\e09c";
}
.bxd-folder2-o-close2:before {
  content: "\e09d";
}
.bxd-folder2-o-add2:before {
  content: "\e09e";
}
.bxd-folder2-o-add:before {
  content: "\e09f";
}
.bxd-folder2-o:before {
  content: "\e0a0";
}
.bxd-pdf2-up:before {
  content: "\e0a1";
}
.bxd-file-check2:before {
  content: "\e0a2";
}
.bxd-file-del2:before {
  content: "\e0a3";
}
.bxd-file-down2:before {
  content: "\e0a4";
}
.bxd-file-return2:before {
  content: "\e0a5";
}
.bxd-file-confirm2:before {
  content: "\e0a6";
}
.bxd-file-edit2:before {
  content: "\e0a7";
}
.bxd-file-submit2:before {
  content: "\e0a8";
}
.bxd-file-up2:before {
  content: "\e0a9";
}
.bxd-rootfolder-o:before {
  content: "\e0aa";
}
.bxd-folder-o:before {
  content: "\e0ab";
}
.bxd-folder-o-add:before {
  content: "\e0ac";
}
.bxd-folder-o-close:before {
  content: "\e0ad";
}
.bxd-folder-o-edit:before {
  content: "\e0ae";
}
.bxd-layer2:before {
  content: "\e0af";
}
.bxd-new-file:before {
  content: "\e0b0";
}
.bxd-layer:before {
  content: "\e0b1";
}
.bxd-sys2-set:before {
  content: "\e0b2";
}
.bxd-sys2-search:before {
  content: "\e0b3";
}
.bxd-sys2:before {
  content: "\e0b4";
}
.bxd-role-set:before {
  content: "\e0b5";
}
.bxd-group:before {
  content: "\e0b6";
}
.bxd-mail-send2:before {
  content: "\e0b7";
}
.bxd-mail-receive2:before {
  content: "\e0b8";
}
.bxd-mail-send:before {
  content: "\e0b9";
}
.bxd-mail-receive:before {
  content: "\e0ba";
}
.bxd-mail:before {
  content: "\e0bb";
}
.bxd-common:before {
  content: "\e0bc";
}
.bxd-priority-set:before {
  content: "\e0bd";
}
.bxd-file-txt:before {
  content: "\e0be";
}
.bxd-file-txt-all:before {
  content: "\e0bf";
}
.bxd-file-txt-check:before {
  content: "\e0c0";
}
.bxd-file-txt-del:before {
  content: "\e0c1";
}
.bxd-file-txt-down:before {
  content: "\e0c2";
}
.bxd-file-txt-return:before {
  content: "\e0c3";
}
.bxd-file-txt-confirm:before {
  content: "\e0c4";
}
.bxd-file-txt-edit:before {
  content: "\e0c5";
}
.bxd-file-txt-submit:before {
  content: "\e0c6";
}
.bxd-file-txt-up:before {
  content: "\e0c7";
}
.bxd-link:before {
  content: "\e0c8";
}
.bxd-chart-line:before {
  content: "\e0c9";
}
.bxd-chart-bar2:before {
  content: "\e0ca";
}
.bxd-chart-bar:before {
  content: "\e0cb";
}
.bxd-folder-has-children:before {
  content: "\e0cc";
}
.bxd-folder:before {
  content: "\e0cd";
}
.bxd-flag:before {
  content: "\e0ce";
}
.bxd-history:before {
  content: "\e0d0";
}
.bxd-file:before {
  content: "\e0d1";
}
.bxd-equality:before {
  content: "\e0d2";
}
.bxd-check-list:before {
  content: "\e0d3";
}
.bxd-chat:before {
  content: "\e0d4";
}
.bxd-sys-add:before {
  content: "\e0d5";
}
.bxd-file-check:before {
  content: "\e0d6";
}
.bxd-file-del:before {
  content: "\e0d7";
}
.bxd-file-down:before {
  content: "\e0d8";
}
.bxd-file-return:before {
  content: "\e0d9";
}
.bxd-file-confirm:before {
  content: "\e0da";
}
.bxd-file-edit:before {
  content: "\e0db";
}
.bxd-file-submit:before {
  content: "\e0dc";
}
.bxd-file-up:before {
  content: "\e0dd";
}
.bxd-program-error:before {
  content: "\e0de";
}
.bxd-agency:before {
  content: "\e0df";
}
.bxd-agency2:before {
  content: "\e0e0";
}
.bxd-chart:before {
  content: "\e0e1";
}
.bxd-monitoring:before {
  content: "\e0e2";
}
.bxd-router:before {
  content: "\e040";
}
.bxd-pause:before {
  content: "\e0e3";
}
.bxd-play:before {
  content: "\e0e4";
}
.bxd-raining:before {
  content: "\e0e5";
}
.bxd-snowing:before {
  content: "\e0e6";
}
.bxd-square-eject:before {
  content: "\e0e7";
}
.bxd-step-fwd:before {
  content: "\e0e8";
}
.bxd-step-bwd:before {
  content: "\e0e9";
}
.bxd-square-stop:before {
  content: "\e0ea";
}
.bxd-square-step-fwd:before {
  content: "\e0eb";
}
.bxd-square-step-bwd:before {
  content: "\e0ec";
}
.bxd-square-record:before {
  content: "\e0ed";
}
.bxd-square-play2:before {
  content: "\e0ee";
}
.bxd-square-pause:before {
  content: "\e0ef";
}
.bxd-square-ff4:before {
  content: "\e0f0";
}
.bxd-square-ff3:before {
  content: "\e0f1";
}
.bxd-square-ff2:before {
  content: "\e0f2";
}
.bxd-square-fast-fwd:before {
  content: "\e0f3";
}
.bxd-square-fast-bwd:before {
  content: "\e0f4";
}
.bxd-stop:before {
  content: "\e0f5";
}
.bxd-sunny:before {
  content: "\e0f6";
}
.bxd-partly-sunny:before {
  content: "\e0f7";
}
.bxd-partly-cloudy:before {
  content: "\e0f8";
}
.bxd-bolt:before {
  content: "\e0f9";
}
.bxd-cloudy:before {
  content: "\e0fa";
}
.bxd-eject:before {
  content: "\e0fb";
}
.bxd-fast-bwd:before {
  content: "\e0fc";
}
.bxd-fast-fwd:before {
  content: "\e0fd";
}
.bxd-ff2:before {
  content: "\e0fe";
}
.bxd-ff4:before {
  content: "\e0ff";
}
.bxd-ff3:before {
  content: "\e100";
}
.bxd-umbrella:before {
  content: "\e101";
}
.bxd-column:before {
  content: "\e048";
}
.bxd-search-file:before {
  content: "\e0cf";
}
