<div id="eaiInterfaceWrap">
	<h3 class="bw-stt add-mg-t">
		{{::vm.text.titleHeader}}
		<p class="desc">{{::vm.text.titleDesc}}</p>
	</h3>
	
	<bc-tool-wrap>
		<right>
			<button type="button" class="bw-btn alert-reset bxd bxd-reset" title="{{::vm.text.resetSearch}}" ng-click="vm.resetSearch();"></button>
			<button type="button" class="bw-btn bxd bxd-search" title="{{::vm.text.search}}" ng-click="vm.getIntrfccoms(true);"></button>
			<button type="button" class="bw-btn b-ctr" zabara="searchWrap_main">
				<i class="bxd bxd-toggle zabara"></i>
			</button>
		</right>
	</bc-tool-wrap>
	
	<div>
		<section class="search-wrap clr" id="searchWrap_main">
			<ul class="unit w-100 col-2 clr">
				<li class="w-33">
					<div class="input-wrap clr">
						<label class="bw-label wp-140">{{::vm.text.intrfcId}}</label>
						<input type="search" class="bw-input" 
						style="width:calc(100% - 140px);" 
						ng-model="vm.searchParam.intrfccoms.intrfcId" 
						ng-keypress="$event.which === 13 && [vm.getIntrfccoms(true), vm.blur($event)]">
					</div>
				</li>
				<li class="w-33">
					<div class="input-wrap clr">
						<label class="bw-label wp-140">{{::vm.text.intrfcNm}}</label>
						<input type="search" class="bw-input" 
						style="width:calc(100% - 140px);" 
						ng-model="vm.searchParam.intrfccoms.intrfcNm" 
						ng-keypress="$event.which === 13 && [vm.getIntrfccoms(true), vm.blur($event)]">
					</div>
				</li>
				<li class="w-34">
					<div class="input-wrap clr">
						<label class="bw-label wp-140">{{::vm.text.lvCds}}</label>
						<i class="bxd bxd-search h-20" title="{{::vm.text.search}}"  ng-click="vm.searchApplicationCodes()"></i>
						<input type="text" class="bw-input" style="width:calc(100% - 160px);" ng-model="vm.searchParam.intrfccoms.lv1Cd" disabled>
					</div>
				</li>
				<li class="w-33">
					<div class="input-wrap clr">
						<label class="bw-label wp-140">{{::vm.text.msgLayoutId}}</label>
						<input type="search" class="bw-input" 
						style="width:calc(100% - 140px);" 
						ng-model="vm.searchParam.intrfccoms.msgLayoutId" 
						ng-keypress="$event.which === 13 && [vm.getIntrfccoms(true), vm.blur($event)]">
					</div>
				</li>
				<li class="w-33">
					<div class="input-wrap clr">
						<label class="bw-label wp-140">{{::vm.text.workStatusCd}}</label>
						<select class="bw-input ipt-select" style="width:calc(100% - 140px);"
							ng-options="item.cdVal as item.cdValNm for item in vm.codes.WORK_STATUS_CD"
							ng-model="vm.searchParam.intrfccoms.workStatusCd">
							<option value="">{{::vm.text.all}}</option>
						</select>
					</div>
				</li>
				<li class="w-34">
					<div class="input-wrap clr">
						<label class="bw-label wp-140">{{::vm.text.regManId}}</label>
						<input type="search" class="bw-input" 
						style="width:calc(100% - 160px);" 
						ng-model="vm.searchParam.intrfccoms.regManId" 
						ng-keypress="$event.which === 13 && [vm.getIntrfccoms(true), vm.blur($event)]">
						<i class="bxd bxd-search h-20" title="{{::vm.text.search}}" ng-show="vm.user.roleId === 'Administrator'" ng-click="vm.openRegManPopup()"></i>
					</div>
				</li>
				<li class="w-33">
					<div class="input-wrap clr">
						<label class="bw-label wp-140">{{::vm.text.sysCdS}}</label>
						<input type="search" class="bw-input" 
						style="width:calc(100% - 160px);" 
						ng-model="vm.searchParam.intrfccoms.sysCdS" 
						ng-keypress="$event.which === 13 && [vm.getIntrfccoms(true), vm.blur($event)]">
						<i class="bxd bxd-search h-20" title="{{::vm.text.search}}"  ng-click="vm.openSysCdSPopup()"></i>
					</div>
				</li>
				<li class="w-33">
					<div class="input-wrap clr">
						<label class="bw-label wp-140">{{::vm.text.sysCdR}}</label>
						<input type="search" class="bw-input" 
						style="width:calc(100% - 160px);" 
						ng-model="vm.searchParam.intrfccoms.sysCdR" 
						ng-keypress="$event.which === 13 && [vm.getIntrfccoms(true), vm.blur($event)]">
						<i class="bxd bxd-search h-20" title="{{::vm.text.search}}"  ng-click="vm.openSysCdRPopup()"></i>
					</div>
				</li>
				<li class="w-34">
					<div class="input-wrap clr">
						<label class="bw-label wp-140">{{::vm.text.trxDscd2}}</label>
						<select class="bw-input ipt-select" 
							style="width:calc(100% - 140px);"
							ng-options="item.cdVal as item.cdValNm for item in vm.codes.TRAN_DSCD"
							ng-model="vm.searchParam.intrfccoms.trxDscd">
							<option value="">{{::vm.text.all}}</option>
						</select>
					</div>
				</li>
				<li class="w-33">
					<div class="input-wrap clr">
						<label class="bw-label wp-140">{{::vm.text.trxTypeDscd}}</label>
						<select class="bw-input ipt-select" style="width:calc(100% - 140px);"
							ng-options="item.cdVal as item.cdValNm for item in vm.codes.INTRFC_WAY_CD"
							ng-model="vm.searchParam.intrfccoms.intrfcWayCd">
							<option value="">{{::vm.text.all}}</option>
						</select>
					</div>
				</li>
				<li class="w-33">
					<div class="input-wrap clr">
						<label class="bw-label wp-140">{{::vm.text.trxCd}}</label>
						<input type="search" class="bw-input" 
						style="width:calc(100% - 160px);" 
						ng-model="vm.searchParam.intrfccoms.trxCd"
						ng-keypress="$event.which === 13 && [vm.getIntrfccoms(true), vm.blur($event)]">
					</div>
				</li>
			</ul>
		</section>
		
		<bc-tool-wrap>
			<left>
				<select class="bw-input ipt-select w-s" ng-model="vm.select.pageSize" ng-change="vm.changePageSize()">
					<option ng-repeat="item in vm.codes.GRID_PAGE_SIZE" value="{{item.cdVal}}">{{item.cdValNm}}</option>
				</select>
				<label>{{::vm.text.all}} {{vm.inferfaceMainGrid.recordsCount}}{{::vm.text.cnt}}</label>
			</left>
			<right>				
				<button type="button" class="bw-btn-txt bc-btn-txt" ng-click="vm.exportDefinition()" ng-show="vm.user.roleId === 'Administrator'"><i class="bxd bxd-xls-down"></i>{{::vm.text.exportDefinition}}</button>
				<button type="button" class="bw-btn b-ctr" zabara="gridWrap" ng-click="vm.refreshGrid()">
					<i class="bxd bxd-toggle zabara"></i>
				</button>
			</right>
		
		</bc-tool-wrap>
		  
		<section id="gridWrap">
			<div class="w-100" ng-style="{ height: vm.gridHeight }" 
				bc-grid="vm.inferfaceMainGrid" data-page="true" data-page-click="vm.pageBtnClick"></div>
		</section>
		
	</div>
	
	<div id="interfacePdf">
		<bc-tool-wrap>
		</bc-tool-wrap>
		<bc-tool-wrap style="background:white; border-top: 1px solid #eeeeee !important; cursor:pointer;" 
			zabara="interfaceDetailInfo" 
			ng-click="vm.onClickZabara('interfaceDetailGrid')">
			<div class="bw-accordion">
				<h3 class="c-label1">
					<span style="font-size:12px;font-weight:normal;">{{::vm.text.interfaceDetail}}</span>
				</h3>
			</div>
			<right>
				<button type="button" class="bw-btn">
					<i id="interfaceDetailInfoZabara" class="bxd bxd-arrow-down zabara" style="transform: rotate(180deg);"></i>
				</button>
			</right>
		</bc-tool-wrap>
		<div id="interfaceDetailInfo" style="width: 100%; display: none; background: #F9F9F9;">
			<section class="search-wrap clr" id="searchWrap_detail" style="border-bottom:0px;">
				<ul class="unit w-100 col-2 clr">
					<li class="w-33">
						<div class="input-wrap asterisk clr disabled" ng-class="{'bg-w': vm.isAdd}">
							<label class="bw-label wp-150">{{::vm.text.intrfcId}}</label>
							<input type="text" class="bw-input" style="width:calc(100% - 170px);" ng-model="vm.detail.intrfcId" disabled>
							<i class="bxd bxd-search h-20" title="{{::vm.text.search}}" 
								ng-if="vm.isAdd"
								ng-click="vm.openInterfaceIdCreatePopup()"></i>
						</div>
					</li>
					<li class="w-33">
						<div class="input-wrap asterisk clr">
							<label class="bw-label wp-150">{{::vm.text.intrfcNm}}</label>
							<input type="search" class="bw-input" style="width:calc(100% - 150px);" ng-model="vm.detail.intrfcNm">
						</div>
					</li>
					<li class="w-33">
						<div class="input-wrap clr disabled">
							<label class="bw-label wp-150">{{::vm.text.lvCds}}</label>
							<input type="text" class="bw-input" style="width:calc(100% - 150px);" ng-model="vm.detail.lv1Cd" disabled>
						</div>
					</li>
					<li class="w-33">
						<div class="input-wrap clr disabled">
							<label class="bw-label wp-150">{{::vm.text.trxDscd2}}</label>
							<select class="bw-input" style="width:calc(100% - 150px);"
								ng-options="item.cdVal as item.cdValNm for item in vm.codes.TRAN_DSCD"
								ng-model="vm.detail.trxDscd" disabled>
							</select>
						</div>
					</li>
					<li class="w-33">
						<div class="input-wrap clr disabled">
							<label class="bw-label wp-150">{{::vm.text.workStatusCd}}</label>
							<select class="bw-input" style="width:calc(100% - 150px);"
								ng-options="item.cdVal as item.cdValNm for item in vm.codes.WORK_STATUS_CD"
								ng-model="vm.detail.workStatusCd" disabled>
							</select>
						</div>
					</li>
					<li class="w-33">
						<div class="input-wrap clr disabled">
							<label class="bw-label wp-150">{{::vm.text.regManId}}</label>
							<input type="text" class="bw-input" style="width:calc(100% - 150px);"
								ng-model="vm.detail.regManId" disabled>
						</div>
					</li>
					<li class="w-33" ng-show="vm.detail.trxDscd == 'ONLINE'">
						<div class="input-wrap asterisk clr">
							<label class="bw-label wp-150">{{::vm.text.syncAsyncDscd}}</label>
							<select class="bw-input ipt-select" style="width:calc(100% - 150px);"
								ng-options="item.cdVal as item.cdValNm for item in vm.codes.SYNC_DSCD"
								ng-model="vm.detail.syncAsyncDscd">
							</select>
						</div>
					</li>
					<li class="w-33" ng-show="vm.detail.intrfcWayCd == 'APTOAP'">
						<div class="input-wrap asterisk clr">
							<label class="bw-label" ng-class="{'wp-210': vm.user.locale === 'en', 'wp-150': vm.user.locale === 'ko'}">{{::vm.text.msgTrnsfrmYn}}</label>
							<select class="bw-input ipt-select" ng-class="{'wc-210': vm.user.locale === 'en', 'wc-150': vm.user.locale === 'ko'}"
								ng-options="item.cdVal as item.cdValNm for item in vm.codes.YN_CD"
								ng-model="vm.detail.msgTrnsfrmYn" ng-change="[vm.setIoCopy(), vm.refreshMappingGrid()]">
							</select>
						</div>
					</li>
					<li class="w-33" ng-show="vm.detail.intrfcWayCd == 'APTOAP'">
						<div class="input-wrap asterisk clr">
							<label class="bw-label wp-150">{{::vm.text.rspsYn}}</label>
							<select class="bw-input ipt-select" style="width:calc(100% - 150px);"
								ng-options="item.cdVal as item.cdValNm for item in vm.codes.YN_CD"
								ng-model="vm.detail.rspsYn">
							</select>
						</div>
					</li>
					<li class="w-33">
						<div class="input-wrap asterisk clr">
							<label class="bw-label wp-150">{{::vm.text.trxTypeDscd}}</label>
							<select class="bw-input ipt-select" style="width:calc(100% - 150px);" ng-change="vm._changeDetailColumnByTrxDscd0()" ng-show="vm.detail.trxDscd == 'ONLINE'" ng-model="vm.detail.intrfcWayCd">
								<option value="APTOAP">AP TO AP</option>
							</select>
							<select class="bw-input ipt-select" style="width:calc(100% - 150px);" ng-change="vm._changeDetailColumnByTrxDscd0()" ng-show="vm.detail.trxDscd == 'BATCH'" ng-model="vm.detail.intrfcWayCd">
								<option value="FILETOFILE">FILE TO FILE</option>
								<option value="DBTODB">DB TO DB</option>
							</select>
						</div>
					</li>
					<li class="w-33" ng-show="vm.detail.trxDscd == 'BATCH' && vm.detail.intrfcWayCd == 'DBTODB'">
						<div class="input-wrap asterisk clr">
							<label class="bw-label" ng-class="{'wp-220': vm.user.locale === 'en', 'wp-150': vm.user.locale === 'ko'}">{{::vm.text.scheduleProcInterval}}</label>
							<input type="search" class="bw-input" ng-class="{'wc-220': vm.user.locale === 'en', 'wc-150': vm.user.locale === 'ko'}"
								ng-model="vm.detail.eaiDto.scheduleProcInterval">
						</div>
					</li>
				</ul>
				<ul class="unit w-100 col-1 clr">
					<li class="w-99">
						<div class="input-wrap clr">
							<label class="bw-label wp-150">{{::vm.text.intrfDesc}}</label>
							<input type="search" class="bw-input" style="width:calc(100% - 150px);"
								ng-model="vm.detail.eaiDto.intrfDesc">
						</div>
					</li>
				</ul>
			</section>
			
			<section class="search-wrap clr" style="border-top:0px;">
				<bc-tool-wrap>
					<li class="w-33">
						 {{::vm.text.receiveSendSys2}}
					</li>
				</bc-tool-wrap>
				<div ng-class="{'w-100': true, 'hide-btn-wrap': !vm.isEdit}" style="height: 81px; border-bottom: 0;" bc-grid="vm.interfaceDetailGrid"></div>
				
				<bc-tool-wrap style="margin-top:10px" ng-show="vm.detail.trxDscd == 'BATCH' && vm.detail.intrfcWayCd == 'DBTODB'">
					<li class="w-33">
						 {{::vm.text.dbAttr}}
					</li>
				</bc-tool-wrap>
				<section id="searchWrap_dbDesc" class="search-wrap clr"
					ng-show="vm.detail.trxDscd == 'BATCH' && vm.detail.intrfcWayCd == 'DBTODB'">
					<ul class="unit w-100 col-3 clr">
						<li class="w-33">
							<div class="input-wrap asterisk clr disabled" ng-show="vm.detail.trxDscd == 'BATCH' && vm.detail.intrfcWayCd == 'DBTODB'">
								<label class="bw-label" ng-class="{'wp-160': vm.user.locale === 'en', 'wp-140': vm.user.locale === 'ko'}">{{::vm.text.recvDbActionType}}</label>
								<select class="bw-input" ng-class="{'wc-160': vm.user.locale === 'en', 'wc-140': vm.user.locale === 'ko'}"
									ng-options="item.cdVal as item.cdValNm for item in vm.codes.RECV_DB_ACT_TYPE"
									ng-model="vm.detail.eaiDto.recvDbActionType">
								</select>
							</div>
						</li>
						<li class="w-33">
							<div class="input-wrap clr">
								<label class="bw-label" ng-class="{'wp-160': vm.user.locale === 'en', 'wp-140': vm.user.locale === 'ko'}">{{::vm.text.searchProcCnt}}</label>
								<input type="search" class="bw-input" ng-class="{'wc-160': vm.user.locale === 'en', 'wc-140': vm.user.locale === 'ko'}" ng-change="vm.onlyNum(vm.detail.eaiDto.searchProcCnt)" 
									ng-model="vm.detail.eaiDto.searchProcCnt">
							</div>
						</li>
						<li class="w-33">
							<div class="input-wrap clr">
								<label class="bw-label" ng-class="{'wp-160': vm.user.locale === 'en', 'wp-140': vm.user.locale === 'ko'}">{{::vm.text.errSkipYn}}</label>
								<select class="bw-input ipt-select" ng-class="{'wc-160': vm.user.locale === 'en', 'wc-140': vm.user.locale === 'ko'}"
									ng-options="item.cdVal as item.cdValNm for item in vm.codes.YN_CD"
									ng-model="vm.detail.eaiDto.errSkipYn">
								</select>
							</div>
						</li>
						<li class="w-100" ng-show="vm.detail.trxDscd == 'BATCH' && vm.detail.intrfcWayCd == 'DBTODB'">
							<div class="input-wrap fix-txtarea p-rel clr">
								<label class="bw-label wp-140" style="white-space: pre; line-height: 40px !important;">{{::vm.text.sendDb}} <br/> &nbsp;&nbsp;&nbsp;&nbsp; - {{::vm.text.selectQuery}}</label>
								<div class="txt-wrap2 fix-size f-r" style="width:calc(100% - 140px);">
									<textarea class="bw-textarea" ng-model="vm.detail.eaiDto.sendDbQuery"></textarea>
								</div>
							</div>
						</li>
						<li class="w-100" ng-show="vm.detail.trxDscd == 'BATCH' && vm.detail.intrfcWayCd == 'DBTODB'">
							<div class="input-wrap fix-txtarea p-rel clr">
								<label class="bw-label wp-140" style="white-space: pre; line-height: 40px !important;">{{::vm.text.recvDb2}} <br/> &nbsp;&nbsp;&nbsp;&nbsp; - {{ vm.codeService.getCodeValNm(vm.codes.RECV_DB_ACT_TYPE, vm.detail.eaiDto.recvDbActionType)}} {{::vm.text.query}}</label>
								<div class="txt-wrap2 fix-size f-r" style="width:calc(100% - 140px);">
									<textarea class="bw-textarea" ng-model="vm.detail.eaiDto.recvDbQuery"></textarea>
								</div>
							</div>
						</li>
					</ul>
				</section>
				
				<bc-tool-wrap style="margin-top:10px" ng-show="vm.detail.trxDscd == 'BATCH' && vm.detail.intrfcWayCd == 'FILETOFILE'">
					<li class="w-33">
						 {{::vm.text.sendFileAttr}}
					</li>
				</bc-tool-wrap>
				<section id="searchWrap_sndFileDesc" class="search-wrap clr"
					ng-show="vm.detail.trxDscd == 'BATCH' && vm.detail.intrfcWayCd == 'FILETOFILE'">
					<ul class="unit w-100 col-3 clr">
						<li class="w-33">
							<div class="input-wrap clr">
								<label class="bw-label wp-160">{{::vm.text.filePath2}}</label>
								<input type="search" class="bw-input" style="width:calc(100% - 160px);"
									ng-model="vm.detail.eaiDto.sendFilePath">
								</select>
							</div>
						</li>
						<li class="w-33">
							<div class="input-wrap clr">
								<label class="bw-label wp-160">{{::vm.text.fileNm}}</label>
								<input type="search" class="bw-input" style="width:calc(100% - 160px);"
									ng-model="vm.detail.eaiDto.sendFileNm">
								</select>
							</div>
						</li>
					</ul>
				</section>
				
				<bc-tool-wrap style="margin-top:10px" ng-show="vm.detail.trxDscd == 'BATCH' && vm.detail.intrfcWayCd == 'FILETOFILE'">
					<li class="w-33">
						 {{::vm.text.recvFileAttr}}
					</li>
				</bc-tool-wrap>
				<section id="searchWrap_recvFileDesc" class="search-wrap clr"  ng-show="vm.detail.trxDscd == 'BATCH' && vm.detail.intrfcWayCd == 'FILETOFILE'">
					<ul class="unit w-100 col-3 clr">
						<li class="w-33">
							<div class="input-wrap clr">
								<label class="bw-label wp-160">{{::vm.text.filePath2}}</label>
								<input type="search" class="bw-input" style="width:calc(100% - 160px);" 
									ng-model="vm.detail.eaiDto.recvFilePath">
							</div>
						</li>			
					</ul>
				</section>
				
				<bc-tool-wrap style="margin-top:10px" ng-show="vm.detail.trxDscd == 'ONLINE'">
					<li class="w-33">
						 {{::vm.text.detailAttr}}
					</li>
				</bc-tool-wrap>
				<section id="searchWrap_timeout_online" class="search-wrap clr"
					ng-show="vm.detail.trxDscd == 'ONLINE'">
					<ul class="unit w-100 col-3 clr">
						<li class="w-33">
							<div class="input-wrap clr">
								<label class="bw-label wp-140">{{::vm.text.timeout}}</label>
								<input type="search" class="bw-input" style="width:calc(100% - 140px);" 
									ng-model="vm.detail.eaiDto.timeOut">
							</div>
						</li>					
					</ul>
				</section>
				
				<bc-tool-wrap style="margin-top:10px" ng-show="vm.detail.trxDscd == 'BATCH' && vm.detail.intrfcWayCd == 'FILETOFILE'">
					<li class="w-33">
						 {{::vm.text.detailAttr}}
					</li>
				</bc-tool-wrap>
				<section id="searchWrap_timeout_batch" class="search-wrap clr"
					ng-show="vm.detail.trxDscd == 'BATCH' && vm.detail.intrfcWayCd == 'FILETOFILE'">
					<ul class="unit w-100 col-3 clr">
						<li class="w-33">
							<div class="input-wrap clr">	
								<label class="bw-label wp-160">{{::vm.text.occurCycle}}</label>
								<select class="bw-input ipt-select" style="width:calc(100% - 160px);"
									ng-options="item.cdVal as item.cdValNm for item in vm.codes.GEN_CYCLE_CD"
									ng-model="vm.detail.eaiDto.occurCycle">
								</select>
							</div>
						</li>
						<li class="w-33">
							<div class="input-wrap clr">
								<label class="bw-label wp-160">
									{{::vm.text.sendWrapperDtoNm}}
								</label>
								<input type="search" class="bw-input" style="width:calc(100% - 160px);"
									ng-model="vm.detail.eaiDto.reqWrapperDtoNm">
							</div>
						</li>
						<li class="w-33">	
							<div class="input-wrap clr">
								<label class="bw-label" ng-class="{'wp-170': vm.user.locale === 'en', 'wp-160': vm.user.locale === 'ko'}">
									{{::vm.text.recvWrapperDtoNm}}
								</label>
								<input type="search" class="bw-input" ng-class="{'wc-170': vm.user.locale === 'en', 'wc-160': vm.user.locale === 'ko'}"
									ng-model="vm.detail.eaiDto.resWrapperDtoNm">
							</div>
						</li>
						<li class="w-33">
							<div class="input-wrap asterisk clr">	
								<label class="bw-label wp-160">{{::vm.text.DupProc}}</label>
								<select class="bw-input ipt-select" style="width:calc(100% - 160px);"
									ng-options="item.cdVal as item.cdValNm for item in vm.codes.DUP_FILE_PROC_CD"
									ng-model="vm.detail.eaiDto.dupFileProc">
								</select>
							</div>
						</li>
					</ul>
				</section>
			</section>	
		</div>

		<bc-tool-wrap style="background:white; border-top: 1px solid #eeeeee !important; cursor:pointer;" 
				zabara="sndSysMsgInfo" ng-show="vm.detail.intrfcWayCd != 'DBTODB'"
				ng-click="vm.onClickZabara('sndReqLayoutGrid','sndResLayoutGrid')" scroll>
			<div class="bw-accordion">
				<h3 class="c-label2">
					<span style="font-size:12px;font-weight:normal;">{{::vm.text.sendSysMsgInfo}}<i ng-if="vm.detail.sendSysCd" style="margin: 0 4px;font-style: normal;">- {{vm.detail.sendSysCd}} ({{vm.detail.sendSysNm}}) </i></span>
				</h3>
			</div>
			<right>
				<button type="button" class="bw-btn">
					<i id="sndSysMsgInfoZabara" class="bxd bxd-arrow-down zabara" style="transform: rotate(180deg);" ></i>
				</button>
			</right>
		</bc-tool-wrap>
		</section>
		
		<div id="sndSysMsgInfo" style="width: 100%; display: none; background: #F9F9F9;"  ng-show="vm.detail.intrfcWayCd != 'DBTODB'">
			<section class="search-wrap clr">
				<bc-tool-wrap>
					<li class="w-33">
						<span ng-show="vm.detail.intrfcWayCd == 'FILETOFILE'">{{::vm.text.fileMsg}}</span>
						<span ng-show="vm.detail.intrfcWayCd != 'FILETOFILE'">{{::vm.text.reqMsg}}</span>
					</li>
					<right>
						<button type="button" class="bw-btn bxd bxd-zoom-in" ng-click="vm.openTotalMsgPopup('sndReqLayoutGrid')" title="{{::vm.text.totalMsgDetail}}"></button>
						<button ng-show="vm.isEdit" type="button" class="bw-btn bxd bxd-add" title="{{::vm.text.add}}" ng-click="vm.addMsgLayoutToSndRcvMsg('sndReqLayoutGrid')"></button>
						<button ng-show="vm.isEdit" type="button" class="bw-btn bxd bxd-toggle" title="{{::vm.text.up}}"
							ng-click="vm.moveSndReqLayoutRow('up','sndReqLayoutGrid')"></button>
						<button ng-show="vm.isEdit" type="button" class="bw-btn bxd bxd-toggle" title="{{::vm.text.down}}" style="transform: rotateZ(180deg)"
							ng-click="vm.moveSndReqLayoutRow('down','sndReqLayoutGrid')"></button>
					</right>
				</bc-tool-wrap>
				<div class="w-100" style="height:105px;" bc-grid="vm.sndReqLayoutGrid"></div>
				
				<bc-tool-wrap style="margin-top:10px" ng-show="vm.detail.intrfcWayCd != 'FILETOFILE'">
					<li class="w-33">
						{{::vm.text.resMsg}}
					</li>
					<right>
						<button type="button" class="bw-btn bxd bxd-zoom-in" ng-click="vm.openTotalMsgPopup('sndResLayoutGrid')" title="{{::vm.text.totalMsgDetail}}"></button>
						<button ng-show="vm.isEdit && !vm.useSndReqToResLayoutGrid" type="button" title="{{::vm.text.add}}" class="bw-btn bxd bxd-add" ng-click="vm.addMsgLayoutToSndRcvMsg('sndResLayoutGrid')"></button>
						<button ng-show="vm.isEdit && !vm.useSndReqToResLayoutGrid" type="button" title="{{::vm.text.up}}" class="bw-btn bxd bxd-toggle"
							ng-click="vm.moveSndReqLayoutRow('up','sndResLayoutGrid')"></button>
						<button ng-show="vm.isEdit && !vm.useSndReqToResLayoutGrid" type="button" title="{{::vm.text.down}}" class="bw-btn bxd bxd-toggle" style="transform: rotateZ(180deg)"
							ng-click="vm.moveSndReqLayoutRow('down','sndResLayoutGrid')"></button>
					</right>
				</bc-tool-wrap>
				<div class="w-100" style="height:105px;" bc-grid="vm.sndResLayoutGrid" ng-show="vm.detail.intrfcWayCd != 'FILETOFILE'"></div>
			</section>
		</div>
		
		<bc-tool-wrap style="background:white; border-top: 1px solid #eeeeee !important; cursor:pointer;" ng-show="vm.detail.intrfcWayCd == 'APTOAP' || vm.detail.intrfcWayCd == 'FILETOFILE'"
			zabara="rcvSysMsgInfo"
			ng-click="vm.onClickZabara('rcvReqLayoutGrid','rcvResLayoutGrid')" scroll>
			<div class="bw-accordion">
				<h3 class="c-label3">
					<span style="font-size:12px;font-weight:normal;">{{::vm.text.recSysMsgInfo}}<i ng-if="vm.detail.receiveSysCd" style="margin: 0 4px;font-style: normal;">- {{vm.detail.receiveSysCd}} ({{vm.detail.receiveSysNm}})</i></span>
				</h3>
			</div>
			<right>
				<button type="button" class="bw-btn">
					<i id="rcvSysMsgInfoZabara" class="bxd bxd-arrow-down zabara" style="transform: rotate(180deg);"></i>
				</button>
			</right>
		</bc-tool-wrap>
		
		<div id="rcvSysMsgInfo" style="width: 100%; display: none; background: #F9F9F9;" ng-show="vm.detail.intrfcWayCd == 'APTOAP' || vm.detail.intrfcWayCd == 'FILETOFILE'"> 
			<section class="search-wrap clr">
				<bc-tool-wrap>
					<li class="w-33">
						<span ng-show="vm.detail.intrfcWayCd == 'FILETOFILE'">{{::vm.text.fileMsg}}</span>
						<span ng-show="vm.detail.intrfcWayCd != 'FILETOFILE'">{{::vm.text.reqMsg}}</span>

					</li>
					<right>
						<button type="button" class="bw-btn bxd bxd-zoom-in" ng-click="vm.openTotalMsgPopup('rcvReqLayoutGrid')" title="{{::vm.text.totalMsgDetail}}"></button>					
						<button ng-show="vm.isEdit && vm.detail.msgTrnsfrmYn !== 'N' && !vm.useSndReqLayoutGrid" type="button" title="{{::vm.text.add}}" class="bw-btn bxd bxd-add" ng-click="vm.addMsgLayoutToSndRcvMsg('rcvReqLayoutGrid')"></button>
						<button ng-show="vm.isEdit && vm.detail.msgTrnsfrmYn !== 'N' && !vm.useSndReqLayoutGrid" type="button" title="{{::vm.text.up}}" class="bw-btn bxd bxd-toggle"
							ng-click="vm.moveSndReqLayoutRow('up','rcvReqLayoutGrid')"></button>
						<button ng-show="vm.isEdit && vm.detail.msgTrnsfrmYn !== 'N' && !vm.useSndReqLayoutGrid" type="button" title="{{::vm.text.down}}" class="bw-btn bxd bxd-toggle" style="transform: rotateZ(180deg)"
							ng-click="vm.moveSndReqLayoutRow('down','rcvReqLayoutGrid')"></button>
					</right>
				</bc-tool-wrap>
				<div class="w-100" style="height:105px;" bc-grid="vm.rcvReqLayoutGrid"></div>
				
				<bc-tool-wrap style="margin-top:10px" ng-show="vm.detail.intrfcWayCd != 'FILETOFILE'">
					<li class="w-33">

					</li>
					<right>
						<button type="button" class="bw-btn bxd bxd-zoom-in" ng-click="vm.openTotalMsgPopup('rcvResLayoutGrid')" title="{{::vm.text.totalMsgDetail}}"></button>
						<button ng-show="vm.isEdit && vm.detail.msgTrnsfrmYn !== 'N' && !vm.useSndResLayoutGrid" type="button" title="{{::vm.text.add}}" class="bw-btn bxd bxd-add" ng-click="vm.addMsgLayoutToSndRcvMsg('rcvResLayoutGrid')"></button>
						<button ng-show="vm.isEdit && vm.detail.msgTrnsfrmYn !== 'N' && !vm.useSndResLayoutGrid" type="button" title="{{::vm.text.up}}" class="bw-btn bxd bxd-toggle"
							ng-click="vm.moveSndReqLayoutRow('up','rcvResLayoutGrid')"></button>
						<button ng-show="vm.isEdit && vm.detail.msgTrnsfrmYn !== 'N' && !vm.useSndResLayoutGrid" type="button" title="{{::vm.text.down}}" class="bw-btn bxd bxd-toggle" style="transform: rotateZ(180deg)"
							ng-click="vm.moveSndReqLayoutRow('down','rcvResLayoutGrid')"></button>
					</right>
				</bc-tool-wrap>
				<div class="w-100" style="height:105px;" bc-grid="vm.rcvResLayoutGrid" ng-show="vm.detail.intrfcWayCd != 'FILETOFILE'"></div>
			</section>
		</div>
		
		
		<bc-tool-wrap ng-show="vm.detail.msgTrnsfrmYn==='Y' && vm.detail.intrfcWayCd == 'APTOAP'"  
			style="background:white; border-top: 1px solid #eeeeee !important; cursor:pointer;"
			zabara="msgMapping"
			ng-click="vm.onClickZabara('sndMsgMapSrcGrid','sendMsgMapTrgGrid','rcvMsgMapSrcGrid','rcvMsgMapTrgGrid')" scroll>
			<div class="bw-accordion">
				<h3 class="c-label4">
					<span style="font-size:12px;font-weight:normal;">{{::vm.text.msgMapping}}</span>
				</h3>
			</div>
			<right>
				<button type="button" class="bw-btn">
					<i id="msgMappingZabara" class="bxd bxd-arrow-down zabara" style="transform: rotate(180deg);"></i>
				</button>
			</right>
		</bc-tool-wrap>
		
		<div id="msgMapping" style="width: 100%; display: none; background: #F9F9F9;"
			 ng-show="vm.detail.msgTrnsfrmYn==='Y' && vm.detail.intrfcWayCd == 'APTOAP'">
			<section class="search-wrap clr">
				<bc-tool-wrap>
					<li class="w-33">
						{{::vm.text.reqMsgMapping}}
						<label class="check-wrap">
							<input type="checkbox" ng-model="vm.useRequestMsgScroll"/> {{::vm.text.scrollSync}}
						</label>
						<label class="check-wrap">
							<input type="checkbox" ng-model="vm.useRequestMsgMapping"/> {{::vm.text.useMsgMapping}}
						</label>
					</li>
					<right>
						<label style="padding: 0 10px;" class="chr-c-orange" ng-show="vm.detail.msgLayoutTranYn === 'Y'">{{::vm.text.confirmChangedMsg}}</label>
						<button ng-show="vm.isEdit" type="button" class="bw-btn-txt2 no-line-height" ng-click="vm.mappingConfirm('REQUEST')">{{::vm.text.mappingVerification}}</button>
						<button ng-show="vm.isEdit" type="button" class="bw-btn-txt2 no-line-height" ng-click="vm.mapping('REQUEST')">{{::vm.text.oneToOnemapping}}</button>
					</right>
				</bc-tool-wrap>
				
				<ul class="w-100" display="none" style="display: inline-block;">
					<li class="w-40">
						<div class="grid-group-header">
							{{::vm.text.srcMsg}} 
							<span ng-show="vm.detail.sendSysCd"> - {{vm.detail.sendSysCd}} ({{vm.detail.sendSysNm}})</span>
						</div>
						<div style="height:272px;" 
							bc-grid="vm.sndMsgMapSrcGrid" id="sndMsgMapSrcGrid"></div>
					</li>
					<li class="w-60">
						<div class="grid-group-header">
							<span style="margin-right: 45%;">
								{{::vm.text.targetMsg}}
								<span ng-show="vm.detail.receiveSysCd"> - {{vm.detail.receiveSysCd}} ({{vm.detail.receiveSysNm}})</span>
							</span>
							<span>{{::vm.text.mappingInfo}}</span>
						</div>
						<div style="height:272px;" 
							bc-grid="vm.sendMsgMapTrgGrid" id="sendMsgMapTrgGrid"></div>
					</li>
				</ul>
				
				<bc-tool-wrap style="margin-top:10px">
					<li class="w-33">
						{{::vm.text.resMsgMapping}}
						<label class="check-wrap">
							<input type="checkbox" ng-model="vm.useResponseMsgScroll"/> {{::vm.text.scrollSync}}
						</label>
						<label class="check-wrap">
							<input type="checkbox" ng-model="vm.useResponseMsgMapping"/> {{::vm.text.useMsgMapping}}
						</label>
					</li>
					<right>
						<label style="padding: 0 10px;" class="chr-c-orange" ng-show="vm.detail.msgLayoutTranYn === 'Y'">{{::vm.text.confirmChangedMsg}}</label>
						<button ng-show="vm.isEdit" type="button" class="bw-btn-txt2 no-line-height" ng-click="vm.mappingConfirm('RESPONSE')">{{::vm.text.mappingVerification}}</button>
						<button ng-show="vm.isEdit" type="button" class="bw-btn-txt2 no-line-height" ng-click="vm.mapping('RESPONSE')">{{::vm.text.oneToOnemapping}}</button>
					</right>
				</bc-tool-wrap>

				<ul class="w-100" style="display: inline-block;">
					<li class="w-40">
						<div class="grid-group-header">
							{{::vm.text.srcMsg}} 
							<span ng-show="vm.detail.receiveSysCd"> - {{vm.detail.receiveSysCd}} ({{vm.detail.receiveSysNm}})</span>
						</div>
						<div class="w-100" style="height:272px;" 
							bc-grid="vm.rcvMsgMapSrcGrid" id="rcvMsgMapSrcGrid"></div>
					</li>
					<li class="w-60">
						<div class="grid-group-header">
							<span style="margin-right: 45%;">
								{{::vm.text.targetMsg}}
								<span ng-show="vm.detail.sendSysCd"> - {{vm.detail.sendSysCd}} ({{vm.detail.sendSysNm}})</span>
							</span>
							<span>{{::vm.text.mappingInfo}}</span>
						</div>
						<div class="w-100" style="height:272px;" 
							bc-grid="vm.rcvMsgMapTrgGrid" id="rcvMsgMapTrgGrid"></div>
					</li>
				</ul>
			</section>
		</div>
	</div>
	<div>
		<bc-tool-wrap style="background:white; border-top: 1px solid #eeeeee !important; cursor:pointer;"
			zabara="deployInterface"
			ng-click="vm.onClickZabara('deployTargetSysGrid','refHistoryGrid')" scroll>
			<div class="bw-accordion">
				<h3 class="c-label5">
					<span style="font-size:12px;font-weight:normal;">{{::vm.text.deploy}}</span>
				</h3>
			</div>
			<right>
				<div class='bw-btn w-auto' ng-show='vm.detail.intrfcId && !vm.isEdit'>
					<label style="float: left;" class="check-wrap" ng-show="vm.detail.msgLayoutTranYn === 'Y' && vm.detail.msgTrnsfrmYn === 'Y'">
						<input style="vertical-align: middle;" type="checkbox" ng-model="vm.compulsionDeployYn" ng-click="vm.stopPropagation($event)"/> {{::vm.text.forceDeploy}}
					</label>
				</div>
				<button type="button" class="bw-btn">
					<i id="deployInterfaceZabara" class="bxd bxd-arrow-down zabara" style="transform: rotate(180deg);"></i>
				</button>
			</right>
		</bc-tool-wrap>
		
		<div id="deployInterface" style="width: 100%; display: none; background: #F9F9F9;">
			<section class="search-wrap clr">
				<bc-tool-wrap>
					<li class="w-33">
						{{::vm.text.deployTargetSystem}}
					</li>
					<right ng-show="vm.isEdit">
						<button type="button" class="bw-btn bxd bxd-add" ng-click="vm.openDeploySystemPopup()"></button>
					</right>
				</bc-tool-wrap>
				<div class="w-100" style="height: 177px;"
					bc-grid="vm.deployTargetSysGrid"></div>
				
				<bc-tool-wrap>
					<li class="w-33">
						{{::vm.text.deployResultCd}}
					</li>
				</bc-tool-wrap>
				
				<section class="search-wrap add-bd2-t clr">
					<ul class="unit w-100 col-2 clr">
						<li class="w-100">
							<textarea class="w-form bw-textarea bg-w" readonly>{{vm.selectedIntrfcdeploysysdtDto.resultMessage}}</textarea>
						</li>
					</ul>
				</section>
				
				<bc-tool-wrap>
					<li class="w-33">
						{{::vm.text.deployHistory}}
					</li>
				</bc-tool-wrap>
				
				<div class="w-100" style="height: 153px;" 
						bc-grid="vm.refHistoryGrid"></div>
			</section>
		</div>
	</div>
	
	<div style="margin-bottom: 100px;"></div>
</div>